@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Kendo UI in ASP .Net Core</h1>
</div>

<div class="col-md-6">
    <p>Kendo UI Version <strong id="kendoVersion"></strong></p>
    @*kendo combo box example*@

    <input id="cmbEmployee" />
    <p id="dropDownValue"></p>
    <div id="grid"></div>
</div>
